<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a href="./"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
    <link rel="stylesheet" href="public\assets\css\style.css">
    <title>Easy Piano🎹 | Ecoute Musicale</title>
    <header>
     <header>
   <div class="title">
            {% for humains in humain %}
                <h1 class="title">Welcome {{ (humain[2].getHumain_login()) }}</h1>
            {% endfor %}
          </div> 
      <div class="entete">
          <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
      </div>

</header>
         <nav class="nav">
              <a class="main_pages1" href="./" ><p class="link">Creation</p></a>
              <a class="main_pages2" href="oreille" ><p class="link">Oreille</p></a>
          </div>
      </nav>
    </div>  

<h1>Des musiques connues</h1>

<form name="myform"  onsubmit="return "action="#">
<h3>Choisissez un titre:</h3>

<select id="titre">
  <option id="Petit Papa Noël" value="Petit Papa Noël">Petit Papa Noël</option>
  <option id="La panthère rose" value="La panthère rose" >La panthère rose</option>
  <option id="Frère Jacques" value="Frère Jacques">Frère Jacques</option>
  <option id="Lettre à Elise" value="Lettre à Elise">Lettre à Elise</option>
  <option id="Raiponce" value="Raiponce">Raiponce</option>
  <option id="Les Choristes" value="Les Choristes">Les Choristes</option>
  <option id="Ce rêve bleu" value="Ce rêve bleu">Ce rêve bleu</option>
  <option id="Joyeux anniversaire" value="Joyeux anniversaire">Joyeux anniversaire</option>
  <option id="Au clair de la lune" value="Au clair de la lune">Au clair de la lune</option>
  <option id="La panthère rose" value="La panthère rose">La panthère rose</option>
</select>
 <input type="submit" value="submit" id="submit">
    <script src="public\assets\js\main3.js"></script>        
       
   
        
