<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/assets\css\style.css">
    <title>Easy Piano🎹 | Ecoute Musicale</title>
    <header>
        <div class="entete">
            <img class="img1" src="public\assets\images\retour 11.png" alt="">
            <div class="title">
                <h1>Easy Piano</h1>
            </div>
            <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
        </div>
        <nav>
            <div class="main_pages">
                <a class="main_pages1" href="oreille.html">Oreille Musicale</a>
                <a class="main_pages2" href="creation.html">Créations</a>
            </div>
        </nav>
    </header>
    <body>
        <h1 class="titles">As tu une bonne oreille musicale</h1>
    <div class="box_vizualizer2">
        <div id="clock">
            <span id="seconds">10</span>
        </div>
        <button id="tracks">Play Quiz</button>
        <div>
            <audio src="public\assets\sounds2\DO.mp3">do</audio>
            <audio src="public\assets\sounds2\RE.mp3">ré</audio>
            <audio src="public\assets\sounds2\MI.mp3">mi</audio>
            <audio src="public\assets\sounds2\FA.mp3">fa</audio>
            <audio src="public\assets\sounds2\SOL.mp3">sol</audio>
            <audio src="public\assets\sounds2\LA.mp3">la</audio>
            <audio src="public\assets\sounds2\SI.mp3">si</audio>
        </div>
    </div>
    <div class="onclick">
        <audio class="click" src="public/assets\sounds2\DO.mp3"></audio>
        <audio class="click" src="public/assets\sounds2\RE.mp3">ré</audio>
        <audio class="click" src="public/assets\sounds2\MI.mp3">mi</audio>
        <audio class="click" src="public/assets\sounds2\FA.mp3">fa</audio>
        <audio class="click" src="public/assets\sounds2\SOL.mp3">sol</audio>
        <audio class="click" src="public/assets\sounds2\LA.mp3">la</audio>
        <audio class="click" src="public/assets\sounds2\SI.mp3">si</audio>
    </div>
    <div class="notes">
        <div class="myNotes">
            <button class="my" id="do ">do</button>
            <button class="my" id="ré">ré</button>
            <button class="my" id="mi">mi</button>
            <button class="my" id="fa">fa</button>
            <button class="my" id="sol">sol</button>
            <button class="my" id="la">la</button>
            <button class="my" id="si">si</button>
        </div>
    </div>
    <div class="score">
       <p> Tu as eu : <span id="score">0</span></p>
    </div>
    <footer class="footer">   TCAO</footer>
    <script src="public\assets\js\main2.js"></script>
</body>
</html>