<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\assets\css\style.css">
    <title>Easy Piano🎹 | Ecoute Musicale</title>
    <header>
        <div class="entete">
            <img class="img1" src="public\assets\images\retour 11.png" alt="">
            <div class="title">
                <h1>Easy Piano</h1>
            </div>
            <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
        </div>
        <nav>
            <div class="main_pages">
                <a class="main_pages1" href="./">Création</a>
                <a class="main_pages2" href="oreille">Oreille Musicale</a>
            </div>
        </nav>
    </header>
        {# <h1 class="welcome">Welcome Albert</h1> #}
    <body>
      <div class="play_list">
        <div class="titre">
          <div class="titre1">
              <p>1- Au clair de la lune</p>
              <button class="btn_list1">Play</button>
          </div>
          <div class="titre2">
              <p>2- Frère Jacques</p>
              <button class="btn_list2">Play</button>
          </div>
          <div class="titre3">
              <p>3- Happy Birthday</p>
              <button class="btn_list3">Play</button>
              <audio src="public\assets\sounds2\LA.mp3" class="au"id="aud"></audio>
          </div>
          <div class="titre4">
              <p>4- Au clair de la lune</p>
              <button class="btn_list4">Play</button>
          </div>
          <div class="titre5">
              <p>5- Au clair de la lune</p>
              <button class="btn_list5">Play</button>
          </div>
      </div>

<script src="public\assets\js\main2.js"></script>