{% extends 'templates/templateSpian.twig'%}
{% block title %} Ecoute Musicale {% endblock %}
{% block contentHome %}
  <a href="ecoute"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
        <nav class="nav">
              <a class="main_pages1" href="./"><p class="link">Creation</p></a>
              <a class="main_pages2" href="oreille"><p class="link">Oreille</p></a>
        </nav>
    </div>  
    <div class="main_content">
        <div id="header_screen" class="header_screen">
            <h1 class="title"> Quiz Musicale</h1>
            <span class="sous_title"> Il y a <span class="nbrQuestion"> ?? </span> Questions </span>
            <div>
                <button id="btn_start" class="start"> Commencer </button>
                <h1>ou bien...</h1>
                <a href="lecteur">  <button id="musique" class="start" > En musique </button></a>
            </div>
        </div>
        <div id="questions_screen" class="questions_screen"></div>
        <div id="result_screen" class="result_screen">
            <h2 class="ecoute"> Résultat </h2>
            <span class="nbrCorrects"> Vous avez <span id="nbrCorrects"> ?? </span> réponses correctes sur <span class="nbrQuestion"> ?? </span> </span>
        </div>
    </div>
    <script src="public\assets\js\quiz.js"></script>
</body>
</html>
 {% endblock %} 


