{% extends 'templates/templateSpian.twig'%}
{% block title %} Accueil {% endblock %}
{% block contentHome %}
<body>
    <header>
      <div class="title">
        {% for humains in humain %}
            <h1 >Welcome {{ (humain[2].getHumain_login()) }}</h1>
        {% endfor %}
      </div> 
        <div class="entete">
            <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
        </div>
    </header>
      <nav class="nav">
            <a class="main_pages1" href="ecoute"><p class="link">Ecoute-Quiz</p></a>
            <a class="main_pages2" href="oreille"><p class="link">Oreille</p></a>
      </nav>
    </div>     
    <div class="wrapper">
  <a class="cta" href="piano">
    <span> PIANO </span>
    <span>
    <img src="public\assets\images\tick-vert-png-3.png" width="60px" height="43px" alt="">
      </svg>
    </span> 
  </a>
<body>
   <footer class="footer">
    <p class="name1">Lwase Dev</p>
    <p class="name2">Arbustes</p>
    <A class="name3" HREF="mailto:djlwase972@gmail.com">djlwase972@gmail.com</A>
   </footer>
    <script src="public\assets\js\main.js"></script>
</body>
</html> 
{% endblock %}