<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public\assets\css\style.css">
    <title>Easy Piano🎹 | Connexion</title>
</head>
     {% for humains in humain %}
        <pre>

        </pre>
    {% endfor %}
<body> 
    <section class="connexion">
    <h1 class="log">LOGIN</h1>
    <form name="submit" method="POST" action="" class="form-connexion"> 
        <div class="connexion">
            <div class="humain_login">
                <input type="text" name="humain_login" value="">
            </div>
            <div class="humain_password">
                <input type="text" name="humain_login" value="">
            </div>
        <input  type="submit" class="submit" name="envoi" value="Envoyer">
        </div>
    </form>
   <div class="link">
        <p clas="link">Si vous n'etes pas inscrits c'est ici ➡➡➡➡➡</p>
        <a class="link" href="register">Register</a>
    </div>
    </section> 

    
     
