{% extends 'templates/templateSpian.twig'%}
{% block header %}{% endblock %}
{% block contentHome %}
         {% for humains in humain %}
        <pre>

        </pre>
    {% endfor %}
<body> 
    <section class="connexion">
    <h1 class="log">LOGIN</h1>
    <form name="submit" method="POST" action="" class="form-connexion"> 
        <div class="connexion">
            <div class="humain_login">
                <input type="text" name="humain_login" value="">
            </div>
            <div class="humain_password">
                <input type="text" name="humain_login" value="">
            </div>
        <input  type="submit" class="submit" name="envoi" value="Envoyer">
        </div>
    </form>
   <div class="link">
        <p clas="link">Si vous n'etes pas inscrits c'est ici ➡➡➡➡➡</p>
        <a class="link" href="register">Register</a>
    </div>
    </section> 
{% endblock %}