{% extends 'templates/templateSpian.twig'%}
{% block title %} Oreille Musicale {% endblock %}
{% block header %}{% endblock %}
{% block contentHome %}
{% set scoresLenght = score|length %}

    <header>
      <div class="title" id="title_oreille" >
        {# <h1 >Testons un peu ton oreille...</h1> #}
        <h1 class="score_valeur">Ton dernier score était : {{ (scores.getScore_valeur())}} /10</h1>
      </div> 
      <div class="entete">
          <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
      </div>
</header>
   {% block nav %} 
     <nav class="nav">
            <a class="main_pages1" href="ecoute"><p class="link">Quiz</p></a>
            <a class="main_pages2" href="oreille"><p class="link">Oreille</p></a>
            <a class="main_pages3" href="theorie"><p class="link">Théorie</p></a>
      </nav>
{% endblock %} 
    </div>  
    <body>
    <div class="box_vizualizer2">
        <h1 class="listNotesName">Règles du jeu: </h1>
        <div class="regles">
            <p class="regle1">1: Cliques sur "  ▶  " pour écouter une note!!</p>
            <p class="regle2">2: Cliques sur la note qui correspond... </p>
            <p class="regle3">3: Cliques sur "⏩" pour la note suivante..</p>
            <p class="regle4">4: Tant que tu n'as pas trouvé...essaie encore!!!</p>
        </div>  
        <div id="horloge"></div>
            <button  id="jouer" onclick="playAudio()""viewAudio()" >▶</button>
            <div id="notes"></div>
           
             <p type="text" id="plus" value="0">0</p>  
         </div>
    </div>
     <button  id="suivant"onclick="Suivant()"> Suivant  </button> 
    <div class="list_notes">
    </div>
     <div id="container" class="container">
    <div id="buttonNotes" "select()">Sélectionne la bonne note: </div>
   </div>

    <script src="public\assets\js\oreille.js"></script>

{% endblock %}