<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/assets\css\style.css">
    <title>Easy Piano🎹 | Oreille Musicale</title>
    <header>
        <div class="entete">
            <img class="img1" src="public\assets\images\retour 11.png" alt="">
            <div class="title">
                <h1>Easy Piano</h1>
            </div>
            <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
        </div>
        <nav>
            <div class="main_pages">
                <a class="main_pages1" href="./">Creation</a>
                <a class="main_pages2" href="ecoute">Ecoute</a>
            </div>
        </nav>
    </header>
    <body>
        {# <h1 class="titles">As tu une bonne oreille musicale</h1> #}
    <div class="box_vizualizer2">
        <div id="clock">
            <span id="seconds">10</span>
        </div>
        <button id="tracks">Play Quiz</button>
        {# <div>
            <audio src="public\assets\sounds2\DO.mp3">do</audio>
            <audio src="public\assets\sounds2\RE.mp3">ré</audio>
            <audio src="public\assets\sounds2\MI.mp3">mi</audio>
            <audio src="public\assets\sounds2\FA.mp3">fa</audio>
            <audio src="public\assets\sounds2\SOL.mp3">sol</audio>
            <audio src="public\assets\sounds2\LA.mp3">la</audio>
            <audio src="public\assets\sounds2\SI.mp3">si</audio>
        </div> #}
    </div>
    <div class="onclick">
        <audio class="click" src="public/assets\sounds2\DO.mp3"></audio>
        <audio class="click" src="public/assets\sounds2\RE.mp3">ré</audio>
        <audio class="click" src="public/assets\sounds2\MI.mp3">mi</audio>
        <audio class="click" src="public/assets\sounds2\FA.mp3">fa</audio>
        <audio class="click" src="public/assets\sounds2\SOL.mp3">sol</audio>
        <audio class="click" src="public/assets\sounds2\LA.mp3">la</audio>
        <audio class="click" src="public/assets\sounds2\SI.mp3">si</audio>
    </div>
    <div class="listNotes">
            <h1 class="listNotesName">Voici la liste des notes: </h1>
            <p>do</p>
            <p>ré</p>
            <p>mi</p>
            <p>fa</p>
            <p>sol</p>
            <p>la</p>
            <p>si</p>
        </div>
    </div>
        <div id="container">
        <p id="question"></p>
        <input type="text" name="mot" maxlenght="10" id="reponse" autocomplete="off">
        <p>Utilises ce bouton pour valider ta réponse</p>
        <button id="boutonValider">Valider</button>
        <div id="score">
            <div id="faux">0</div>
            <div id="juste">0</div>
        </div>
    </div>
    
    <script src="public\assets\js\main2.js"></script>
</body>
</html>