
    <a href="./"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
    <link rel="stylesheet" href="public/assets\css\style.css">
      <div class="piano">
        <div class="piano__body">
            <div class="piano__speaker"></div>
            <div class="piano__interface">
                <div class="piano__controls">
                    <h4 class="piano__heading">Piano</h4>
                    <label><input type="radio" class="piano__control__option" name="control" value="letterNote" checked>Letter Notes</label>
                    <label><input type="radio" class="piano__control__option" name="control" value="keyboard">Keyboard</label>
                    <label><input type="radio" class="piano__control__option" name="control" value="none">None</label>
                </div>
                <div class="piano__autoplay">
                  <h4 class="piano__heading">Autoplay</h4>  
                  <select class="piano__song-list">
                    <option value="2">Happy Birthday</option>
                    <option value="1">Jingle Bells</option> 
                  </select>
                  <label>Tempo:
                    <select class="piano__tempo">
                        <option value="1">Easy</option>
                        <option value="2" selected>Normal</option>
                        <option value="3">Hard</option>
                    </select>
                  </label>
                  <button class="piano__play-btn">Play</button>
                </div>
            </div>
            <div class="piano__speaker"></div>
        </div>
    <div class="piano__keyboard"></div>
    <button class="btn_list3">Play</button>
   </div>
    <script src="public\assets\js\piano.js"></script>
</body>
</html>