{% extends 'templates/templateSpian.twig'%}
{% block title %} Mon piano {% endblock %}
{% block contentHome %}
    <a href="./"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
      <div class="piano">
        <div class="piano__body">
            <div class="piano__speaker"></div>
            <div class="piano__interface">
                <div class="piano__controls">
                </div>
                <div class="piano__autoplay">
                  <button class="piano__play-btn">Piano</button>
                  {# <h1>Quelque partitions faciles</h1>
                  <button>Joyeux anniversaire</button>
                  <button>Au clair de la lune</button>
                  <button>Frere Jacques</button> #}
                </div>
            </div>
            <div class="piano__speaker"></div>
        </div>
      </div> 
    <div class="piano__keyboard"></div>
      <button class="btn_list3">Lwase dev</button>
   </div>

    <script src="public\assets\js\piano.js"></script>
</body>
</html>
{% endblock %}