<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <a href="./"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
    <link rel="stylesheet" href="public/assets\css\style.css">
     <title>Lwase Piano🎹 |{% block title %}  {% endblock %}</title>
</head>
<body>
{% block header %}
 {% endblock %} 

 {% block nav %} 
     <nav class="nav">
            <a class="main_pages1" href="ecoute"><p class="link">Quiz</p></a>
            <a class="main_pages2" href="oreille"><p class="link">Oreille</p></a>
            <a class="main_pages3" href="theorie"><p class="link">Théorie</p></a>
      </nav>
{% endblock %} 
  
   {% block contentHome %}{% endblock %}
   {% block contentHome2 %}{% endblock %}

   {% block footer %}

   {% endblock %}

</body>
</html> 


