<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <a href="./"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
    <link rel="stylesheet" href="public/assets\css\style.css">
     <title>Easy Piano🎹 |{% block title %}  {% endblock %}</title>
</head>
<body>
    {% block header %}
    <header>
   <div class="title">
          </div> 
      <div class="entete">
          <img class="img2" src="public\assets\images\Cdi.PNG" alt="">
      </div>
    </div>  
</header>
{% block nav %} 
    
{% endblock %}
   {% endblock %} 
   {% block contentHome %}{% endblock %}

   {% block footer %}

   {% endblock %}

</body>
</html> 


