{% extends 'templates/templateSpian.twig'%}
{% block title %} Lecteur musique {% endblock %}
{% block header %}{% endblock %}
{% block contentHome %}
<body>
  <a href="ecoute"><img class="img1" src="public\assets\images\retour 11.png" alt=""></a>
  <h1 class="titleZik">Cliquez sur le titre que vous désirez écouter!!!</h1>
<div class="enZik">
    <button id="un">Petit papa noel</button>
    <button id="deux">La panthere rose</button>
    <button id="trois">Frere Jacques</button>
    <button id="quatre">Lettre a Elise</button>
    <button id="cinq">Raiponce</button>
    <button id="six">Les choristes</button>
    <button id="sept">Ce reve bleu</button>
    <button id="huit">Joyeux anniversaire</button>
    <button id="neuf">Au clair de la lune</button>
    <button id="dix">Bella ciao</button>
</div>
    <script src="public\assets\js\main3.js"></script>
    <script src="public\assets\js\lecteur.js"></script> 
</body>
</html>
{% endblock %}